<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Chatbox</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>All Chats!</h2>
    <form method="get" action="/chats/new">
        <button class="chat">New Chat</button>
    </form>
    <hr>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p><b>From:</b> <i>
                    <%= chat.from %>
                </i></p>
            <div class="msg">
                <p><b>Msg:</b>
                    <%= chat.msg %>
                </p>
            </div>
            <form method="get" action="/chats/<%= chat._id %>/edit">
                <button class="edit-delete-btn">Edit Chat</button>
            </form>
            <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                <button class="edit-delete-btn">Delete Chat</button>
            </form>
            <p><b>To:</b> <i>
                    <%= chat.to %>
                </i></p>
            <hr>
            <p><b>Date&Time:</b>
                <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %>
                <%= chat.created_at.toString().split(" ")[4] %>
            </p>
        </div>
        <br><br>
        <% } %>
</body>

</html>